.form-wrapper {
    width: 400px;
    height: 400px;
    background-image: url("img/background.png");
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #201f1f;
}

.authorization-header {
    width: 337px;
    height: 56px;
    background-color: #03a9f4;
    border-radius: 10px 10px 0 0;
}


.authorization-footer {
    width: 337px;
    height: 56px;
    background-color: #eeeeee;
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.authorization-header__content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 29px;
}

.authorization-header__legend {
    font-family: 'Roboto';
    font-size: 24px;
    color: rgba(255, 255, 255, 255);
    display: inline-block;
    margin: 11px 6px 0px 0px;
}

.authorization-header__img {
    display: inline-block;
    filter: brightness(0) invert(1);
    margin-top: 11px;
    margin-right: 3px;
}

.input-area {
    height: 235px;
    width: 337px;
    background-color: #fafafa;
}

.input-decoration {
    width: 265px;
    height: 39px;
    display: inline-block;
    margin-left: 32px;
    outline: none;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 2px solid #e1e1e1;
    font-family: 'Roboto';
    font-size: 16px;
    padding-left: 5px;

}

.submit-btn {
    display: inline-block;
    background-color: #f44336;
    border-radius: 4px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 16px;
    padding: 12px 113px;
    text-decoration: none;
    outline: none;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px solid #f44336;
    margin-left: 33px;
    margin-top: 18px;
}

.submit-btn:active {
    position: relative;
    top: 1px;
}


input[type="password"] {
    margin-top: 20px;
    background-image: url("img/lock-icon.png");
    background-repeat: no-repeat;
    background-position: right 0.2% top 36%;
}

input[type="email"] {
    margin-top: 31px;
    background-image: url("img/email-icon.png");
    background-repeat: no-repeat;
    background-position: right 1% top 50%;
}


::placeholder {
    color: #bebebe;
    opacity: 1;
    margin-left: 8px;
}

:-ms-input-placeholder {
    color: #bebebe;
    margin-left: 8px;

}

::-ms-input-placeholder {
    color: #bebebe;
    margin-left: 8px;

}

.authorization-footer__registration{
    text-decoration: none;
    color: rgba(33, 33, 33, 255);
    font-size: 14px;
    font-weight: 600;
    font-family: 'Roboto';
    margin-right: 10px;


}

.authorization-footer__forgotpass{
    text-decoration: none;
    color: #757575;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Roboto';

}

.authorization-footer__content{
    margin-bottom: 6px;

}
